.App {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  background-color: aliceblue;
  min-height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  border: 1px dotted grey
}

.App-link {
  color: #61dafb;
}

.card-text {
  color: #282c34;
}

.buttons {
  
}

.landing-page {
  border: 4px outset #1C6EA4;
border-radius: 15px;
padding: 10%;
}

.public-jokes {
  border: 4px outset #1C6EA4;
  border-radius: 15px;
  padding: 10%;
}

.private-jokes {
  border: 4px outset #1C6EA4;
  border-radius: 15px;
  padding: 10%;
}

.signup-page {
  border: 4px outset #1C6EA4;
  border-radius: 15px;
  padding: 10%;
}

.loginForm {
  border: 4px outset #1C6EA4;
  border-radius: 15px;
  padding: 10%;
}

.nav-link {
  border: 1px solid blue;
  border-radius: 15px;
  margin-top: 5px;
  margin-right: 5px;
}